.TimeLine{
  width: 100%;
  height: auto;
  max-height: 800px;
  /*border: 1px solid black;*/

  overflow-y: scroll;
}

.TweetRow{
  border-block-end: 1px solid lightblue;
  writing-mode: horizontal-tb;
}